<h3 class="text-center text-light mb-3">Giới Thiệu Về Website EDU-Smart Test</h3>
<p>
<h4> <strong class="text-light mr-5">Lịch sử hình thành</strong></h4>
Năm 2008, Luật dạy nghề lần đầu tiên cho phép đào tạo nghề trình độ Cao đẳng cùng các quy định hướng dẫn dần hoàn thiện
đã cho phép các trường Đại học được dạy Cao đẳng nghề và chịu sự quản lý của Bộ Lao động - Thương bình & Xã hội. Với
quyết tâm triển khai phương thức đào tạo hệ cao đẳng, năm 2010, FPT Polytechnic chính thức ra đời với mô hình đào tạo
theo triết lý "Thực học - Thực nghiệp", mở ra xu hướng tiên phong trong đào tạo tinh gọn, thực tiễn.

Với chiến lược "Go Mass" - Hướng tới đại chúng, ứng dụng tiến bộ của công nghệ vào quá trình giảng dạy như: Phương pháp
Blended Learning, Hybrid-Learning... cùng hệ thống quản trị hiện đại AP, LMS, CRM, FPT Polytechnic nhanh chóng cho thấy
vai trò quan trọng trong hoạt động đào tạo, cung ứng nguồn nhân lực phù hợp với nhu cầu thực tế của thị trường.
</p>