<div class="box-content check" id="check">
    

    <!-- PHẦN THI TRẮC NGHIỆM -->

    <div class="p-3" ng-show="startQuiz">
        <div class="box-content-title text-center">
            <h1>Phần Thi Trắc Nghiệm</h1>
            <p>Chọn môn thi trắc nghiệm bạn cần!</p>
        </div>
        <button class="btn btn-primary" ng-click="start()" id="start">Start</button>
    </div>
    <div class="p-3" ng-show="show">
        <div class="box-content-title text-center">
            <h1>Kết Quả Thi Trắc Nghiệm</h1>
        </div>
        <div class="score">
            <span ng-if="score >= 5">Điểm của bạn: {{score}} điểm. Bạn đã đậu!</span>
            <span ng-if="score < 5">Điểm của bạn: {{score}} điểm. Bạn đã không đậu!</span>
            <a class="btn btn-primary" href="#!subjects">Quay lại môn học</a>
        </div>
    </div>
    <div class="p-3" ng-show="testQuiz">
        <div class="clock" id="test">
            <div class="font-weight-bold" id="display">10 phút 0 giây</div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <p>{{subjectName}}</p>
                    <p>Question {{id}}/10</p>
                </div>
            </div>
            <div class="card-body">
                <div class="card-title">
                    {{question}}
                </div>
                <hr>
                <div class="p-0" ng-repeat="option in options">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="{{option.Id}}" name="answer" class="custom-control-input"
                            value="{{option.Id}}">
                        <label class="custom-control-label" for="{{option.Id}}">{{option.Text}}</label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex align-items-center justify-content-between">
                <button class="btn btn-info" ng-click="checkAnswer()">
                    Submit
                </button>
                
            </div>
        </div>

    </div>
</div>